Source: clue
Section: libs
Priority: optional
Build-Depends: debhelper
Maintainer: Peter Van Eynde <pvaneynd@debian.org>
Standards-Version: 3.2.0.0

Package: clue
Architecture: all
Depends: common-lisp-controller, cmucl-source
Replaces: clio,pictures
Description: clue/clio/pictures: xlib/Xt like library for lisp
 Clue is to lisp what xlib is to C. It's basic, but
 close to the metal.
 .
 Clio is to Lisp what Xt is to C.
 It uses CLOS to give an OO interface to X.
 .
 Pictures is an imaging-system for clue.
 It lets people use constraints and such to draw pictures.
