#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

#export DH_VERBOSE=1  # Uncomment this to turn on verbose mode.
export DH_COMPAT=4

CLC_SBIN	:= usr/sbin/
CLC_BIN		:= usr/bin/
CLC_SRC 	:= usr/share/common-lisp/source/common-lisp-controller/

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.	
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	# Add here commands to compile the package.
	-$(MAKE) 
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	# Add here commands to clean up after the build process.
	-$(MAKE) clean
	rm -f *~  || true
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/pkg-name
	dh_install register-common-lisp-source $(CLC_SBIN)
	dh_install register-common-lisp-implementation $(CLC_SBIN)
	dh_install unregister-common-lisp-source $(CLC_SBIN)
	dh_install unregister-common-lisp-implementation $(CLC_SBIN)
	dh_install reregister-common-lisp-implementations $(CLC_SBIN)
	dh_install check-cl-autobuild $(CLC_SBIN)
	dh_install cl-only-compatible $(CLC_SBIN)	
	dh_install cl-not-compatible $(CLC_SBIN)	
	dh_install autobuild-cl-impl $(CLC_SBIN)
	dh_install clc-build-daemon $(CLC_SBIN)
	dh_install clc-send-command $(CLC_BIN)
	dh_install common-lisp-controller.lisp pre-sysdef-install.lisp \
		post-sysdef-install.lisp $(CLC_SRC)
	dh_install lisp-config.lisp etc/

# Build architecture-independent files here.
 binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
#	dh_installmenu
	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_undocumented
	dh_installman clc-send-command.1 clc-build-daemon.8 register-common-lisp-implementation.8 register-common-lisp-source.8 \
                unregister-common-lisp-implementation.8 unregister-common-lisp-source.8 reregister-common-lisp-implementations.8 \
		cl-only-compatible.8 check-cl-autobuild.8 cl-not-compatible.8
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
